* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0 100px;
}

.landing-page {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

/*------------------HEADER CSS------------------*/
.header, .hero-container, .footer {
    background-color: #1f2937;
    color: #F9FAF8;
    margin: 0 -100px;
    padding: 0 100px;
}

.header, .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.right-links ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    margin: 0;
    padding: 0;
}

.right-links ul li {
    margin: 0 15px;
}
/*------------------HERO CSS--------------------*/
.hero-container {
    flex: 1;
    display: flex;
    padding: 85px 0;
    
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 85px 85px 85px 0; */
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    padding: 85px 0;

}

/*-----------------ROW-2-------------------*/

.row-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row-3 {
    flex: 1;
}
 .row-4 {
    flex: 1;
 }

/*------------------FOOTER CSS------------------*/
.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

@media only screen and (max-width: 907px) {
    body {
        font-size: smaller;
        padding: 0 20px;
    }

    .left-logo {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        padding:0 250px
    }

    .header, .hero-container, .footer {
        margin: 0 -250px;
        padding: 0 250px;
    }
}

