* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.landing-page {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.fit-to-body {
    width: 100%;
    padding: 0 175px;
}

.button {
    font-weight: bolder;
    max-width: 30%;
    height: 31px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    box-shadow: none;
}

/*------------------HEADER CSS------------------*/
.header, .hero-container, .footer {
    background-color: #1f2937;
    color: #F9FAF8;
    
}

.header, .footer {
    display: flex;
    align-items: center;
    height: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.right-links ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    margin: 0;
    padding: 0;
}

.right-links ul li {
    margin-left: 15px;
}

/*------------------HERO CSS--------------------*/
.hero-container {
    flex: 1;
    display: flex;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 100px 100px 100px 0;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    padding: 85px 0;
    box-sizing: border-box;
}

/*-----------------ROW-2-------------------*/
.row-2-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container {
    display: flex;
    justify-content: center;
}

.box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container p {
    display: flex;
    justify-content: center;
}

.blue-box {
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 10px;
}

/*------------------FOOTER CSS------------------*/
.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

@media only screen and (max-width: 907px) {
    .fit-to-body, .hero-container {
        padding: 0 100px;
        font-size: smaller;
    }

    .left-logo {
        font-size: 18px;
    }
}
